POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
spring.docker.compose.enabled=false

GMAIL_USERNAME=your_email@gmail.com
GMAIL_APP_PASSWORD=your_app_password

JWT_SECRET=your_jwt_secret_here_min_32_chars

SPRING_KAFKA_BOOTSTRAP_SERVERS=your_localhost:????

SPRING_DATASOURCE_URL=your_datasource_url

SPRING_MAIL_HOST=your_mail_host
SPRING_MAIL_PORT=your_mail_port

SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
