[submodule "task-tracker-scheduler"]
	path = task-tracker-scheduler
	url = https://github.com/SamoylovSt/task-tracker-scheduler
[submodule "task-tracker-backend"]
	path = task-tracker-backend
	url = https://github.com/SamoylovSt/task-tracker-backend
[submodule "task-tracker-email-sender"]
	path = task-tracker-email-sender
	url = https://github.com/SamoylovSt/task-tracker-email-sender
